<%= form_for(@payslip) do |f| %>
  <% if @payslip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payslip.errors.count, "error") %> prohibited this payslip from being saved:</h2>

      <ul>
      <% @payslip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  


    <div class="field">
      <%= f.label "Seconds worked" %> <br/>
      <%= f.number_field :seconds, :placeholder => "seconds" %><br>
    </div>


      <div class="field">
        <%= f.datetime_local_field :start %><br>
      </div> 
      <div class="field">
        <%= f.datetime_local_field :finish %><br>
      </div>

      <div class="checkBox">
      <%= f.label "Finalized" %> <br/>
      <%= f.check_box :finalized %><br>
      </div>

      <div class="checkBox">
      <%= f.label "Paid" %> <br/>
      <%= f.check_box :paid %><br>
      </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
