<p id="notice"><%= notice %></p>


<% if @current_user.boss %>
  <button id="finalize" class="comButton">Finalize all</button>

<% end %>

<table id="jobListing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours</th>
      <th>Finalized</th>
      <th>Paid</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @payslips.each do |payslip| %>
      <tr>
        <td><%= payslip.user.name %></td>
        <td><%= time_spent_hours payslip.seconds %></td>
        <td><%= payslip.finalized %></td>
        <td><%= payslip.paid %></td>

        <td><%= link_to 'Show', payslip %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

