

<h2 class="loginH2"> Please enter your login details </h2>

<%= form_tag '/login' do %>


  <div>
    <%= label_tag 'email', 'email', :class => 'loginPage'%>
    <%= text_field_tag 'email' %>
  </div>

   <div>
    <%= label_tag 'password', 'password', :class => 'loginPage'%>
    <%= password_field_tag 'password'%>
  </div>


  <p>
    <%= submit_tag 'Login' %>
  </p>
  


<% end %>
