<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <button id="addWorkers" class="comButton"> 
      Workers
    </button>



    <div id="onSite" class="workersWork">

        <% @job.users.each do |user| %>

         <div class="onsiteButton workForce" data-workid=<%= user.id %> ><%= user.name %></div>

        <% end %>

    </div>

    <div class="field">
    <%= f.collection_select :client_id, @clients, :id, :name, include_blank: true %>
    </div>
  
    <div class="field">
      <%= f.text_field :reference, :placeholder => "job#" %><br>
    </div>


    <div class="field">
      <%= f.text_area :address, :placeholder => "address" %><br>
    </div>
    <div class="field">
      <%= f.text_area :notes, :placeholder => "notes" %><br>
    </div>

    <% if @job.address %>
      <div class="field">
        <%= f.datetime_local_field :start %><br>
      </div> 
      <div class="field">
        <%= f.datetime_local_field :end %><br>
      </div>
    <% end %>

      <div class="checkBox">
      <%= f.label "Completed" %> <br/>
      <%= f.check_box :completed %><br>
      </div>

      <div class="checkBox">
      <%= f.label "Paid" %> <br/>
      <%= f.check_box :paid %><br>
      </div>

      <%= f.hidden_field :onsite, :value => @job.onsite, id: "chosenWorkers" %>

  <div class="actions">
    <%= f.submit %>


  </div>
<% end %>


