<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.text_field :address, :placeholder => "address" %><br>
    </div>
    <div class="field">
      <%= f.text_area :notes, :placeholder => "notes" %><br>
    </div>
    <div class="field">
      <%= f.datetime_local_field :start %><br>
    </div> 
    <div class="field">
      <%= f.datetime_local_field :end %><br>
    </div>

      <div class="field">
      <%= f.label "Completed" %> <br/>
      <%= f.check_box :completed %><br>
      </div>

      <div class="field">
      <%= f.label "Paid" %> <br/>
      <%= f.check_box :paid %><br>
      </div>

  <div class="actions">
    <%= f.submit %>


  </div>
<% end %>


