<p id="notice"><%= notice %></p>


  <div id="jobInfo" data-jobid=<%= @job.id %> >

    <p><b>Job#:</b> <%= @job.reference %> </p>
    <% if @job.client %>
    <p><b>Client:</b> <%= @job.client.name %></p>
    <% end %>
    <p><b>Address:</b> <%= @job.address %></p>
    <p><b>Notes:</b></p> 
    <textarea readonly><%= @job.notes %></textarea>
    

    <p><b>Comments:</b></p> 
    <textarea><%= @job.comments %></textarea>

      <table>
      <thead>
        <tr>
          <th>Start</th>
          <th>Finish</th>
          <th>Time</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
            <tr>

              <td id="startBox"><%= @job.start ? @job.start.strftime('%c') : 'click'%></td>
              <td id="finishBox"><%= @job.end ? @job.end.strftime('%c') : 'click'%></td>
              <td id="hoursDone"><%= time_spent_hours @job.seconds %></td>

            </tr>
        </tbody>
      </table>

      <%if !@job.completed %>

      <button id="complete">Complete</button>
      
      <% end %>
  
  </div>

  

<br>

<div id="bottomMenu">
<%= link_to '<div class="bottomMenu">Jobs</div>'.html_safe, jobs_path %>
<%= link_to '<div class="bottomMenu">Edit</div>'.html_safe, edit_job_path(@job) %> 

</div>
