<p id="notice"><%= notice %></p>


  <div id="jobInfo" data-jobid=<%= @job.id %> >

    <p><b>Job#:</b> <%= @job.reference %> </p>
    <% if @job.client %>
    <p><b>Client:</b> <%= @job.client.name %></p>
    <% end %>


    <p><b>Address:</b>

    <a href="http://maps.google.com/?daddr=<%= @job.address %>" > <%= @job.address %></a>
     </p>


    <p><b>Workers Onsite</b>

    <div id="onSite" class="workersWork">

        <% @job.users.each do |user| %>

         <div class="workForce onsiteButton" data-workid=<%= user.id %> ><%= user.name.match /\S*\w*\s*\w*/ %></div>

        <% end %>

    </div>
    <p><b>Notes</b></p> 
    <textarea readonly><%= @job.notes %></textarea>
    

    <p><b>Comments</b></p> 
    <textarea><%= @job.comments %></textarea>

      <table>
      <thead>
        <tr>
          <th>Start</th>
          <th>Finish</th>
          <th>Time</th>
          
        </tr>
      </thead>

      <tbody>
            <tr>

              <td id="startBox"><%= @job.start ? @job.start.strftime('%c') : 'click'%></td>
              <td id="finishBox"><%= @job.finish ? @job.finish.strftime('%c') : 'click'%></td>
              <td id="hoursDone"><%= time_spent_hours @job.seconds %></td>

            </tr>
        </tbody>
      </table>

      <%if !@job.completed %>

        <button id="complete" class="comButton">Job Done</button>

      <%elsif !@job.amount %>

        <br>
        <div id="jAmount">
          <%= label_tag(:job_amount, "Amount in dollars") %> <br>
          <%= number_field(:job, :amount) %>
          <br>
          <button id="amount" class="comButton">Invoice Amount</button>
        </div>
      <% elsif @current_user.boss %>

        <p>Invoice amount: <%= number_to_currency(@job.amount) %> </p> 

      <% end %>


  
  </div>

  

<br>

<div id="bottomMenu">
<%= link_to '<div class="bottomMenu">Back</div>'.html_safe, 'javascript:history.go(-1);' %>


<% if @current_user.boss %>
<%= link_to '<div class="bottomMenu">Edit</div>'.html_safe, edit_job_path(@job) %> 
<% end %>

</div>
