<p id="notice"><%= notice %></p>


  <div id="jobInfo" data-jobid=<%= @job.id %> >

    <p><b>Ref#:</b> <%= @job.reference %> </p>
    <% if @job.client.name %>
    <p><b>Client:</b> <%= @job.client.name %></p>
    <% end %>
    <p><b>Address:</b> <%= @job.address %></p>
    <p><b>Notes:</b></p> 
    <textarea readonly><%= @job.notes %></textarea>
    

    <p><b>Comments:</b></p> 
    <textarea><%= @job.comments %></textarea>

      <table>
      <thead>
        <tr>
          <th>Start</th>
          <th>Finish</th>
          <th>Time</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        
            <tr>
              <td id="startBox"><%= @job.start.strftime('%c') %></td>
              <td id="finishBox"><%= @job.end.strftime('%c') %> </td>
              <td id="hoursDone"><%= time_spent_hours @job.seconds %></td>

            </tr>
        </tbody>
      </table>

      <button id="complete">Complete</button>

  
  </div>

  

<br>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
