

  <div class="login-page pure-g">
  
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <div class="field">
        <%= f.text_field :email, :placeholder => "email", :maxlength => 35 %>
      </div>
      <br>
      <div class="field">
        <%= f.password_field :password, :placeholder => "password" %><br>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, :placeholder => "password confirm" %><br>
      </div>
          <div class="field">
        <%= f.text_field :name, :placeholder => "name", :maxlength => 30 %><br>
      </div>
      <div class="field">
        <%= f.text_field :address, :placeholder => "address" %><br>
      </div>
      <div class="field">
        <%= f.text_field :phone, :placeholder => "phone" %><br>
      </div>

      <% if @current_user.admin %>
        <div class="field">
        <%= f.number_field :company_id, :placeholder => "company id" %><br>
        </div>

        <div class="field">
        <%= f.label "Boss/owner" %> <br />
        <%= f.check_box :boss %><br>
        </div>

      <% end  %>
      
        <div class="actions">
          <%= f.button :class => 'comButton' %>
        </div> 

    </div>

  <% end %>



</div>


