<p id="notice"><%= notice %></p>

<div id="bottomMenu">
  <%= link_to '<div class="bottomMenu">New User</div>'.html_safe, new_user_path %>

</div>


<table id="jobListing">
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Phone</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
       
        <td><%= user.name %></td>
        <td><%= user.phone %></td>
        


       
        <td><%= link_to 'Show', user %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


