<p id="notice"><%= notice %></p>

<div id="bottomMenu">
  <%= link_to '<div class="bottomMenu">Back</div>'.html_safe, root_path %>
  <%= link_to '<div class="bottomMenu">New User</div>'.html_safe, new_user_path %>


</div>


<table id="jobListing22" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Phone</th>
    
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
       
        <td><%= user.name %></td>
        <td><%= user.phone %></td>
        


       
       
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


