<p id="notice"><%= notice %></p>

  <div>
  <h3>Info</h3>
  <p><b>Name:</b> <%= @user.name %></p>
  <p><b>Email:</b> <%= @user.email%></p>
  <p><b>Address:</b> <%= @user.address %></p>
  <p><b>Phone:</b> <%= @user.phone %></p>
  
  </div>

<div id="bottomMenu">
  <%= link_to '<div class="bottomMenu">Back</div>'.html_safe, users_path %>
  <%= link_to '<div class="bottomMenu">Edit</div>'.html_safe, edit_user_path(@user) %>

</div>

<% if @user.payslips.present? %>
  <br>
  <p>Time Sheets</p>


  <table id="jobListing22">
  <thead>
    <tr>
      <th>Start</th>
      <th>Hours</th>
      <th>Finalized</th>
      <th>Paid</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <% @user.payslips.each do |payslip| %>
      <tr>
        <td><%= payslip.start.strftime('%b %d, %Y') %></td>
        <td><%= time_spent_hours payslip.seconds %></td>
        <td><%= payslip.finalized %></td>
        <td><%= payslip.paid %></td>

        <td><%= link_to 'Show', payslip %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>



<% end %>

