<p id="notice"><%= notice %></p>

  <div>
  <h3>Info</h3>
  <p><b>Name:</b> <%= @user.name %></p>
  <p><b>Email:</b> <%= @user.email%></p>
  <p><b>Address:</b> <%= @user.address %></p>
  <p><b>Phone:</b> <%= @user.phone %></p>
  
  </div>

<div id="bottomMenu">
<%= link_to '<div class="bottomMenu">Back</div>'.html_safe, users_path %>
<%= link_to '<div class="bottomMenu">Edit</div>'.html_safe, edit_user_path(@user) %>
<%= link_to '<div class="bottomMenu">Destroy</div>'.html_safe, @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

