<p id="notice"><%= notice %></p>

  <div>
  <h3>Info</h3>
  <p><b>Name:</b> <%= @client.name %></p>
  <p><b>Email:</b> <%= @client.email%></p>
  <p><b>Address:</b> <%= @client.address %></p>
  <p><b>Phone:</b> <%= @client.phone %></p>
  
  </div>


<div id="bottomMenu">
<%= link_to '<div class="bottomMenu">Back</div>'.html_safe, clients_path %>
<%= link_to '<div class="bottomMenu">Edit</div>'.html_safe, edit_client_path(@client) %> 

</div>
