


<div class="menu_select">
<% if @current_user.admin %>
    <ul class="mainMenu">
      <li>
        <%= link_to 'Companies', companies_path %>
      </li>

      <li>
        <%= link_to 'Users', users_path %>
      </li>
    </ul>
<% end %>

  <ul class="mainMenu">
    <li>
      <%= link_to '<div class="bottomMenu">Jobs</div>'.html_safe, jobs_path %>
    </li>

    <% if @current_user.boss %>

      <li>
         <%= link_to '<div class="bottomMenu">Workers</div>'.html_safe, users_path %>
      </li>

      <li>
         <%= link_to '<div class="bottomMenu">Clients</div>'.html_safe, clients_path %>
      </li>

      <li>
         <%= link_to '<div class="bottomMenu">Wages</div>'.html_safe, payslips_path %>
      </li>
   <% end  %>

  </ul>

</div>