<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>WorkTrack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="mortals">
  <ul>
    
    <%== intellinav  %>

  </ul>
</nav>




<%= yield %>



</body>
</html>
